<!-- LIST VIEW -->
<div class="container" ng-show="list" id="listView">
    <h3>Textbook View</h3><br>
    <div class="row">
        <div class="col-md-8">
            <a ng-href="#textbooks/add">Add Book</a>
            <table class="table table-striped">
                <thead>
                    <th>Name</th>
                    <th>Class Code</th>
                    <th>Author</th>
                    <th>Price</th>
                </thead>
                <tr ng-repeat="book in books">
                    <td><a ng-href="#textbooks/detail/{{book.$id}}" >{{ book.name }}</a></td>
                    <td>{{ book.classCode }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.price }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!-- END LIST VIEW -->
<!-- Add VIEW -->
<div class="container" ng-show="editing" id="editForm">
    <div class="row">
        <div class="col-md-5">
            <h3>{{ title }}</h3><br ng-show="edit_form && image_valid">
            <img ng-show="image_valid" width="150" height="150" ng-src="{{ image_url }}" ng-show="edit_form"><div ng-show="edit_form && image_valid"><br><br></div>
            <p style="color: crimson">{{ error }}</p>
            <form>
                <div class="form-group row">
                    <div class="col-md-8">
                        <label>Name:</label>
                        <input type="text" class="form-control" ng-model="book.name">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-8">
                        <label>Author:</label>
                        <input type="text" class="form-control" ng-model="book.author">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label>Class Code:</label>
                        <input type="text" class="form-control" ng-model="book.classCode">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label>Price:</label>
                        <input ng-readonly="edit_form" type="text" class="form-control" ng-model="book.price">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label>Book Number (ISBN):</label>
                        <input type="text" class="form-control" ng-model="book.isbn">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-10">
                        <label>Description:</label>
                        <textarea rows="4" class="form-control" ng-model="book.description"></textarea>
                    </div>
                </div>
                <input type="submit" class="btn btn-primary btn-lg" value="Submit" ng-click="update(book)">
            </form>
        </div>
    </div>
</div>
<!-- END EDIT VIEW -->
<!-- DETAIL VIEW -->
<div class="container" ng-show="detail" id="detailView">
    <div class="row">
        <div class="col-md-5">
            <h3>{{ title }}</h3><br/>
            <div class="panel panel-default">
                <div class="panel-heading">{{ book.name }}
                    <a style="float: right; cursor: pointer;" ng-show="display_message_link" ng-click="openChat(book.creatorID)"> Message Seller </a>
                   <div style="float: right">
                       <a ng-href="#textbooks/{{ book.$id }}" ng-show="book.allow_edit"> Edit </a> <span ng-show="book.allow_edit"> &bull;</span>
                       <a ng-href="#textbooks" ng-click="deleteBook(book)" ng-show="book.allow_delete"> Delete </a><span ng-show="book.allow_delete"> &bull;&nbsp;</span>
                   </div>
                </div>
                <div class="panel-body">
                    <div class="col-md-8">
                        <img ng-show="image_valid" width="150" height="150" ng-src="{{ image_url }}">
                    </div>
                    <div class="col-sm-5">
                        <label>Author: </label>
                        {{ book.author }}
                    </div>
                    <div class="col-sm-5">
                        <label>Class Code:</label>
                        {{ book.classCode }}
                    </div>
                    <div class="col-sm-5">
                        <label>Price:</label>
                        {{ book.price }}
                    </div>
                    <div class="col-sm-5">
                        <label>ISBN:</label>
                        {{ book.isbn }}
                    </div>
                    <div class="col-md-8">
                        <label>Description:</label>
                        {{ book.description }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END DETAIL VIEW -->